.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.resultP {
  font-size: 20px;
}

.chartBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 600px;
  justify-self: center;
}

.quaters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
}

.quater {
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #00000025;
}

.chartBox {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 13fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2px;
  aspect-ratio: 1 / 1;
}

.axisTitle {
  color: black;
  text-align: center;
  font-size: 16px;
}

#missionDriven {
  grid-column: 1 / 4;
  text-align: center;
}

#supporterDriven {
  grid-column: 1 / 4;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .chartBackground {
    width: 500px;
    height: 500px;
  }
  .chartBox {
    width: 90%;    
  }
  .quater {
    font-size: 28px;
  }
  .axisTitle {
    font-size: 14px;
    margin: 2px;
  }
}
@media screen and (max-width: 650px) {
  .chartBackground {
    width: 450px;
    height: 450px;
  }
  .quater {
    font-size: 28px;
  }
  .axisTitle {
    font-size: 14px;
    margin: 2px;
  }
}
@media screen and (max-width: 600px) {
  .chartBackground {
    width: 350px;
    height: 350px;
  }
  .quater {
    font-size: 28px;
  }
  .axisTitle {
    font-size: 14px;
    margin: 2px;
  }
}
@media screen and (max-width: 500px) {
  .chartBackground {
    width: 250px;
    height: 250px;
  }
  .quater {
    font-size: 22px;
  }
  .axisTitle {
    font-size: 12px;
    margin: 2px;
  }
}
@media screen and (max-width: 400px) {
  .chartBackground {
    width: 220px;
    height: 220px;
  }
  .chartBox {
    width: 320px;
    height: 280px;
  }
  .quater {
    font-size: 22px;
  }
  .axisTitle {
    font-size: 12px;
    margin: 2px;
  }
}
